{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<div class="col-8 mx-auto">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Удалить задачу: {{task.summary}}?</h5>
        </div>
       <form action="{% url 'confirm_delete' task.pk %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_button button_type="submit"  content="Да " %}
         </form>
        <form action="{% url 'index' %}" method="post" class="form">
             {% csrf_token %}

            <a href="{% url 'index' %}" class="btn btn-secondary">Нет</a>
        </form>
    </div>
 </div>
{% endblock %}