{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="mb-3 w-50 p-3">
    <h1>Вход</h1>
</div>
    <form action="{% url 'login' %}" method="post" class="text-center">
        {% csrf_token %}
        {% if has_error %}
            <p class="form-error">Неверное имя пользователя или пароль.</p>
        {% endif %}
        <div class="mb-3 w-50 p-3">
            <label for="username" class="form-label">Имя пользователя:</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="mb-3 w-50 p-3">
            <label for="password" class="form-label">Пароль:</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="mb-3 w-50 p-3">
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
    </form>
{% endblock %}
