{% extends 'base.html' %}

{% block title %} Список проектов {% endblock %}

{% block content %}

    <h3 class="pl-3 pb-2">Список проектов</h3>
    {% if projects %}
        <form action="" method="post">
        {% csrf_token %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Проект</th>
                <th scope="col">Дата начала</th>
                <th scope="col">Дата окончания</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td class="col-3 text-break">
                        <a class="list-unstyled text-dark" href="{% url 'project_detail' project.pk %}">
                            {{ project.title }}
                        </a>
                    </td>
                    <td class="col-2">{{ project.start_date }}</td>
                    <td class="col-2">{{ project.end_date }}</td>
                    <td class="col-1"><a class="btn btn-danger" href="{% url 'project_delete' project.pk %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td class="col-2">
                    <a class="btn btn-primary ml-1 mt-3 mb-5" href="{% url 'add_project' %}">Добавить новый проект</a>
                </td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <h3 class="text-center pl-3 pb-3">Проекты не найдены</h3>
    {% endif %}

</form>
{% endblock %}